In [ ]:
import pandas as pd

# Football's Coming Home

# 1 
euro2012 = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/02_Filtering_%26_Sorting/Euro12/Euro_2012_stats_TEAM.csv")

# 2
len(euro2012["Team"])
# 16 teams

# 3
discipline = euro2012[["Team", "Yellow Cards", "Red Cards"]]

# a
discipline.sort_values(by=["Red Cards", "Yellow Cards"], ascending = [False, False])

# b
euro2012["Yellow Cards"].mean

# 4 

# a
euro2012a = euro2012.copy()
euro2012a["Clearances off line"].fillna(0, inplace=True)

# b 
euro2012b = euro2012.copy()
euro2012b[euro2012b["Goals"] > 6]

# c
euro2012c = euro2012.copy()
euro2012c.iloc[:,1:7]

# d
euro2012d = euro2012.copy()
euro2012d[euro2012d["Team"].isin(["England", "Italy", "Russia"])]["Shooting Accuracy"]

# 5
euro2012["% goals-to-target"] = euro2012["Goals"] / euro2012["Shots on target"]

# a 
# Low goals to on target shots percentage is unlucky, therefore Poland is most unlucky
euro2012.sort_values(by="% goals-to-target", ascending=True)

# b 
# High goals to on target shots percentage is lucky, therefore Greece is most lucky
euro2012.sort_values(by="% goals-to-target", ascending=False)

In [81]:
import pandas as pd

# Ten-Hut
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'],
            'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'],
            'deaths': [523, 52, 25, 616, 43, 234, 523, 62, 62, 73, 37, 35],
            'battles': [5, 42, 2, 2, 4, 7, 8, 3, 4, 7, 8, 9],
            'size': [1045, 957, 1099, 1400, 1592, 1006, 987, 849, 973, 1005, 1099, 1523],
            'veterans': [1, 5, 62, 26, 73, 37, 949, 48, 48, 435, 63, 345],
            'readiness': [1, 2, 3, 3, 2, 1, 2, 3, 2, 1, 2, 3],
            'armored': [1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1],
            'deserters': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
            'origin': ['Arizona', 'California', 'Texas', 'Florida', 'Maine', 'Iowa', 'Alaska', 'Washington', 'Oregon', 'Wyoming', 'Louisana', 'Georgia']}

# 1
data = pd.DataFrame(raw_data)

# 2
data.set_index(keys= "origin", inplace=True)

# 3
data.loc[["Maine", "Alaska"]][["deaths", "size", "deserters"]]
data.iloc[3:7,3:6]
data.iloc[5:]
data[(data["deaths"] > 500) | (data["deaths"] < 50)]

# 4

# Nighthawks 2nd was most loyal because they had the least percentage of deserters
data["% deserters"] = data["deserters"] / data["size"]
data.sort_values(by="% deserters",ascending=True)

# Scouts 2nd was most ready because they had the least percentage of losses
data["% losses"] = (data["deaths"] + data["deserters"]) / data["size"]
data.sort_values(by="% losses",ascending=True)

# For deaths -  Arizona, Alaska, Florida skew the data, their values are more than a std above the mean
# For battles - California skews the data, values are more than a std above the mean
# For size - no outliers, values are uniform around the mean, close to mean around the std
# For veterans - Alasks skews the data, values are more than a std above the mean
# For readiness - 3 skews more because mean is closer to 3 than 1
# For armored - the data is skewed slightly to 1 groups because the mean is closer to 1
# For deserters - Washington,Alaska,Texas,California skew the data because they're outside std of the mean

,deaths,battles,size,veterans,readiness,armored,deserters,% deserters,% losses
count,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000
mean,190.416667,8.416667,1127.916667,174.333333,2.083333,0.583333,11.083333,0.011172,0.183930
std,227.027615,10.849871,240.241719,280.254214,0.792961,0.514929,12.324833,0.013169,0.200000
min,25.000000,2.000000,849.000000,1.000000,1.000000,0.000000,2.000000,0.001429,0.024951
25%,41.500000,3.750000,983.500000,34.250000,1.750000,0.000000,2.750000,0.001948,0.047088
50%,62.000000,6.000000,1025.500000,55.000000,2.000000,1.000000,3.500000,0.003406,0.077518
75%,306.250000,8.000000,1174.250000,141.000000,3.000000,1.000000,24.000000,0.024507,0.287793
max,616.000000,42.000000,1592.000000,949.000000,3.000000,1.000000,31.000000,0.036514,0.554205

In [ ]:
import pandas as pd

# Doing Time

# 1
crime = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv", parse_dates=["Year"])
crime.set_index(keys= "Year", inplace=True)

# 2
sixties = crime.loc["1960-01-01":"1969-01-01", ["Robbery", "Murder", "Burglary"]].sum()
seventies = crime.loc["1970-01-01":"1979-01-01", ["Robbery", "Murder", "Burglary"]].sum()
eighties = crime.loc["1980-01-01":"1989-01-01", ["Robbery", "Murder", "Burglary"]].sum()
nineties = crime.loc["1990-01-01":"1999-01-01", ["Robbery", "Murder", "Burglary"]].sum()
hundreds = crime.loc["2000-01-01":"2009-01-01", ["Robbery", "Murder", "Burglary"]].sum()
tens = crime.loc["2010-01-01":"2019-01-01", ["Robbery", "Murder", "Burglary"]].sum()

# 3
sixties_violent = crime.loc["1960-01-01":"1969-01-01", ["Violent"]].sum()
seventies_violent = crime.loc["1970-01-01":"1979-01-01", ["Violent"]].sum()
eighties_violent = crime.loc["1980-01-01":"1989-01-01", ["Violent"]].sum()
nineties_violent = crime.loc["1990-01-01":"1999-01-01", ["Violent"]].sum()
hundreds_violent = crime.loc["2000-01-01":"2009-01-01", ["Violent"]].sum()
tens_violent = crime.loc["2010-01-01":"2019-01-01", ["Violent"]].sum()
decades_violent = pd.Series(data=[sixties_violent, seventies_violent, eighties_violent, nineties_violent, hundreds_violent, tens_violent], index=["Sixties", "Seventies", "Eighties", "Nineties", "Hundreds", "Tens"])
# 1990s because it has the most violent crime out of all the decades

# 4
# I was a bit surprised that the 80s had a lower crime rate than the 90s, because the 80s was when there was a crack epidemic, when crack flooded the inner cities, causing great damage to communities.
# In addition, I thought that crime fell sharply in the 90s. According to multiple academic papers, crime fell dramatically in the 90s.
# However, this can probably be explained because crime was on an upward trend from the sixties and just slowed down in the nineties (as shown by the data).
# In addition, the crack epidemic was still going on during the early 90s.
decades_violent